<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Products</title>
    <script type="text/javascript">
      function googleTranslateElementInit() { new
      google.translate.TranslateElement({ pageLanguage: 'en' },
      'google_translate_element'); }
    </script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
      integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/admin.css" />
  </head>

  <body>
    <div class="grid-container">
      <aside id="sidebar">
        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/admin">
              <span class="material-icons-outlined">dashboard</span>
              DASHBOARD
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/admin/addproduct">
              <span class="material-icons-outlined">add_circle</span>
              ADD PRODUCTS
            </a>
          </li>
          <li class="sidebar-list-item active">
            <a href="/admin/products/all">
              <span class="material-icons-outlined">inventory_2</span>
              SHOW PRODUCTS
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#">
              <span class="material-icons-outlined">settings</span>
              SETTINGS
            </a>
          </li>
          <li>
            <div
              style="margin-left: 20px; margin-top: 40px; font-weight: 600;"
            >Socials</div>
            <div class="platforms">
              <div class="insta">
                <a href=""><i
                    class="fa-brands fa-instagram"
                    style="color: #e26060"
                  ></i></a>
              </div>
              <div class="facebook">
                <a href=""><i
                    class="fa-brands fa-square-facebook"
                    style="color: #0f72bd"
                  ></i></a>
              </div>
              <div class="twitter">
                <a href=""><i
                    class="fa-brands fa-x-twitter"
                    style="color: #333"
                  ></i></a>
              </div>
              <div class="youtube">
                <a href=""><i
                    class="fa-brands fa-youtube"
                    style="color: #ff0000;"
                  ></i></a>
              </div>
            </div>
          </li>
        </ul>
      </aside>

      <main class="main-container">
        <h1 id="heading">Admin Products List</h1>

        <div class="product">
          {{#each products as |p|}}
            <div class="product_card" data-aos="fade-up">
              <img src="{{p.imageUrl}}" alt="{{p.name}}" data-aos="zoom-in" />
              <div class="pdescription">
                <h2>{{p.name}}</h2>
                <p id="pd">{{p.description}}</p>
                <span id="price">₹ {{p.price}}</span><br />
                <h4>40% OFF</h4>
                <h3><a href="{{p._id}}">GET Info</a></h3>
              </div>
            </div>
          {{/each}}
        </div>
      </main>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
      integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      AOS.init({ offset: 200, Duration: 1000 }); // SIDEBAR TOGGLE let
      sidebarOpen = false; const sidebar = document.getElementById('sidebar');
      function openSidebar() { if (!sidebarOpen) {
      sidebar.classList.add('sidebar-responsive'); sidebarOpen = true; } }
      function closeSidebar() { if (sidebarOpen) {
      sidebar.classList.remove('sidebar-responsive'); sidebarOpen = false; } }
    </script>
  </body>

</html>